<!DOCTYPE html>
<html>
<head>
    <title>Login - MealMate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label>Name:</label>
        <input name="name" required>

        <label>Email:</label>
        <input name="email" type="email" required>

        <button type="submit">Login</button>
    </form>

    <hr>
    <div style="text-align:center;">
        <p>Or</p>
        <a href="/ingredients">Continue as Guest</a>
    </div>
</body>
</html>
