<!DOCTYPE html>
<html>
<head>
    <title>Recipe Suggestion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Suggested Recipe</h2>

    {% if recipes and recipes[0] %}
        {% set recipe = recipes[0] %}
        <div class="recipe">
            <h3>{{ recipe.name }}</h3>
            <p><strong>Region:</strong> {{ recipe.region }}</p>
            <p><strong>Meal Type:</strong> {{ recipe.meal_type }}</p>
            <p><strong>Ingredients:</strong> {{ recipe.ingredients | join(', ') }}</p>
            <p><strong>Instructions:</strong></p>
            <ul>
                {% for step in recipe.instructions %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ul>
            <div style="text-align: center; margin-top: 20px;">
            <form method="POST" action="/select_recipe">
                <input type="hidden" name="recipe_name" value="{{ recipe.name }}">
                <button type="submit">Choose this recipe</button>
            </form>
            </div>
        </div>
    {% else %}
        <p style="color: antiquewhite;">No matching recipes found.</p>
    {% endif %}

<div style="text-align: center; margin-top: 20px;">
    <form action="/next_recipe" method="get" style="display: inline;">
        <button type="submit" style="font-size: 1rem;">See Next Recipe</button>
    </form>

    <div style="margin-top: 10px;">
        <a href="/" style="font-size: 0.9rem; padding: 8px 16px;">Go back to home</a>
    </div>
</div>



</body>
</html>

